<script setup lang="ts">
import WorldLogo from "../../assets/logos/World.png";
import {
    Chart as ChartJS,
    Title,
    Tooltip,
    Legend,
    BarElement,
    CategoryScale,
    LinearScale,
    PointElement,
    LineElement,
} from 'chart.js'
import { Bar } from 'vue-chartjs'
import LineWithLineChart from "./LineWithLineChart";
import { data, options } from './chartConfig';
import { lineData, lineOptions } from "./lineConfig"
ChartJS.register(
    CategoryScale,
    LinearScale,
    PointElement,
    LineElement,
    Title,
    Tooltip,
    Legend,
    BarElement
)
</script>
<template>
<div>
    <div class="flex flex-col space-y-2 space-x-0 md:flex md:justify-center md:flex-wrap md:space-y-0 md:items-center md:flex-row md:space-x-2 ">
        <div class="w-72 h-56 rounded-md bg-[#D5DDF3] my-2">
            <div class="p-2 flex justify-between items-center">
                <h1 class="text-[#001B6A]">Total Revenue</h1>
                <h2 class="text-green-500">+5.4%</h2>
            </div>

            <div class="px-2 ">
                <h2 class="font-bold">KSH 1,004,565.00</h2>
            </div>

            <div class="mt-3">
                <Bar :data="data" :options="options" />
            </div>
        </div>

        <div class="w-72 h-56 rounded-md bg-[#D5DDF3] my-2 ">
            <div class="p-2 flex justify-between items-center">
                <h1 class="text-[#001B6A]">All customers</h1>
                <h2 class="text-green-500">+5.8%</h2>
            </div>

            <div class="px-2 ">
                <h2 class="font-bold">8990</h2>
            </div>

            <div class="mt-3">
                <LineWithLineChart :data="lineData" :options="lineOptions" />
            </div>
        </div>


        <div class="w-72 h-56 rounded-md bg-[#D5DDF3] my-2">
            <div class="p-2 flex justify-between items-center">
                <h1 class="text-[#001B6A]">Countries reached</h1>
                <h2 class="text-green-500">+6.4%</h2>
            </div>

            <div class="px-2 ">
                <h2 class="font-bold">25</h2>
            </div>

            <div class="mt-3 grid place-items-center">
                <img :src="WorldLogo" alt="World Logo">
            </div>
        </div>
    </div>
</div>
</template>