<script setup lang='ts'>
import HeroBg from "../../assets/logos/Hero-Bg.jpg";
import CodeEditorTab from "../CodeTab/CodeEditorTab.vue";
import Line from "../../assets/logos/line.png";
</script>

<template>
    <div>
        <section class="relative py-12 sm:py-2 lg:pb-6">
            <div class="relative px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 2xl:w-full">
                <div class="flex flex-col space-y-10 lg:flex lg:justify-between lg:items-center lg:flex-row lg:w-full">
                    <div class="text-center lg:w-1/2 xl:col-span-1 md:px-16 lg:px-0">
                        <h1
                            class="text-3xl font-bold text-center leading-tight lg:text-left text-gray-900 sm:text-5xl sm:leading-tight lg:text-5xl lg:leading-tight xl:leading-tight xl:text-6xl">
                            Integrate Payment Solutions For Your Customers</h1>
                        <p class="mt-2 text-base lg:text-left  text-gray-600 sm:mt-3">Our payment solutions support
                            companies of all sizes in accelerating
                            their digital transformation and growth.</p>

                        <router-link to="/auth/register">
                            <a
                            class="inline-flex px-8 py-4 mt-6 text-lg font-bold text-white transition-all duration-200 bg-[#001B6A] hover:bg-[#123a83] border border-transparent sm:mt-6 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900"
                            role="button">
                            Get Started
                        </a>
                        </router-link>
                    </div>

                    <div class="grid place-items-center xl:col-span-1">
                        <div class="relative">
                            <img :src="HeroBg" alt="Hero" class="w-[500px] relative md:right-10 lg:right-4 xl:right-10">
                            <div data-aos="fade-up" duration="300" class="absolute inset-0 top-20 opacity-75 md:left-0">
                                <CodeEditorTab/>
                            </div>
                            <div class="absolute top-[500px] left-20">
                                <img :src="Line">
                            </div>
                        </div>

                        <div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</template>