<script setup lang="ts">
import { Icon } from "@iconify/vue";
import FutureFastLogo from "../../assets/logos/FutureFastLogo.png";
import { ref, watchEffect } from "vue";
import { useSidebarStore } from "../../store/sidebarStore";
const sidebarStore = useSidebarStore();
const mobileNav = ref(false)
const sidebarIsOpen = ref(sidebarStore.sidebarIsOpen);
const rotate = ref<any>("");
const handleSidebar = () => {
    sidebarStore.toggleSidebar(sidebarIsOpen.value = !sidebarIsOpen.value);
};

watchEffect(() => {
    rotate.value = sidebarIsOpen.value
})
const sidebarLinks = [
    {
        id: 1,
        link: "Merchant management",
        icon: "material-symbols:person",
        path: "/admin/dashboard/merchant"
    },

    {
        id: 2,
        link: "Order processing",
        icon: "material-symbols:inactive-order",
        path: "/admin/dashboard/admin-order"
    },

    {
        id: 3,
        link: "Transactions",
        icon: "ic:outline-compare-arrows",
        path: "/admin/dashboard/admin-transactions"
    },

    {
        id: 4,
        link: "Fraud management",
        icon: "ph:shield-checkered-fill",
        path: "/admin/dashboard/admin-fraud"
    },

    {
        id: 5,
        link: "Refunds",
        icon: "tabler:receipt-refund",
        path: "/admin/dashboard/admin-refunds"
    },

    {
        id: 6,
        link: "Settings",
        icon: "ph:gear",
        path: "/admin/dashboard/admin-settings"
    }
]
</script>
<template>
    <div>
        <div class="px-4 pt-2 pb-20 flex flex-col overflow-auto space-y-2">
            <div class="flex justify-between items-center py-4">
                <div>
                    <img :src="FutureFastLogo" alt="Future Fast Logo">
                </div>
                <div class="flex items-center space-x-2 lg:hidden">
                    <div :class="{ 'rotate': rotate }" @click="handleSidebar()" class="relative">
                        <div class="absolute right-6">
                            <span aria-hidden="true"
                                class="block absolute h-0.5 w-5 bg-current text-black transform transition duration-500 ease-in-out"
                                :class="{ 'rotate-45': sidebarIsOpen, ' -translate-y-1.5': !sidebarIsOpen }"></span>
                            <span aria-hidden="true"
                                class="block absolute h-0.5 w-5 bg-current text-black  transform transition duration-500 ease-in-out"
                                :class="{ 'opacity-0': sidebarIsOpen }"></span>
                            <span aria-hidden="true"
                                class="block absolute h-0.5 w-5 bg-current text-black  transform transition duration-500 ease-in-out"
                                :class="{ '-rotate-45': sidebarIsOpen, ' translate-y-1.5': !sidebarIsOpen }"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div v-for="link in sidebarLinks" :key="link.id">
                <div class="cursor-pointer">
                    <router-link :to="link.path" exact-active-class="bg-[#DBE0EB] text-white py-2 px-2"
                        class="flex items-center space-x-4 group hover:bg-[#DBE0EB] rounded-md hover:text-black py-2 px-2">
                        <span class="p-2 text-gray-500 bg-gray-200 rounded-md group-hover:text-black">
                            <Icon class="fill-current" :icon="link.icon" />
                        </span>
                        <span class="font-Inter text-gray-800 group-hover:text-black">{{ link.link }}</span>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>
<style scoped>
.slide-enter-active {
    transition: all 0.3s ease-out;
}

.slide-leave-active {
    transition: all 0.3s ease-out;
}

.slide-enter-from,
.slide-leave-to {
    transform: translateY(20px);
    opacity: 0;
}
</style>
