<template>
    <div class="hidden lg:grid lg:place-items-center lg:mt-2 lg:mr-10 xl:mt-2">
        <iframe src="https://embed.lottiefiles.com/animation/110685"></iframe>
        <p class="-mt-8">Scroll to see more</p>
    </div>
</template>