<script setup lang="ts">
import TechLogo from '../../assets/logos/Tech.png';
import useVuelidate from "@vuelidate/core";
import { required, email, helpers, minLength } from "@vuelidate/validators";
import { ref, reactive, computed } from "vue";
const loading = ref(false);
const formData = reactive({
    email: "",
    password: "",
    loading: ""
});
const rules = computed(() => {
    return {
        email: { required: helpers.withMessage("Email is required", required), email },
        password: { required: helpers.withMessage('Password is required', required), minLength: minLength(8) }
    }
})
const v$ = useVuelidate(rules, formData)
const handleSubmit = async () => {
    const response = await v$.value.$validate();
    if (validate) {
        return true;
    }
}
</script>
<template>
    <div
        class="w-full mt-10 px-4 mx-auto grid place-items-center grid-cols-1 space-x-4 md:grid md:mt-20 md:grid-cols-2 2xl:px-48">
        <div class="mt-2 col-span-1 order-1 md:order-1">
            <form @submit.prevent="handleSubmit()" class="w-72 p-4 rounded-md md:w-96 lg:w-[500px] 2xl:w-[700px]">
                <div class="pb-6 space-y-3">
                    <h1 class="text-2xl font-bold md:text-4xl">Log In</h1>
                    <p class="font-bold">Welcome back! Please enter your details.</p>
                </div>
                <div>
                    <div class="mt-5">
                        <label for="email" class="font-bold">Email</label>
                        <input type="text" placeholder="Email" v-model="formData.email" autocomplete="email"
                            class="py-3 px-4 border border-gray-200 rounded-md focus:outline-none focus:ring-1 focus:ring-[#0157FF] w-full my-2" />
                        <p class="text-red-500 font-bold block my-1" v-if="v$.email.$error">{{
                            v$.email.$errors[0].$message
                        }}
                        </p>
                    </div>

                    <div class="mt-5">
                        <label for="password" class="font-bold py-2">Password
                        </label>
                        <input type="password" placeholder="Password" v-model="formData.password" autocomplete="password"
                            class="py-3 px-4 border border-gray-200 rounded-md focus:outline-none focus:ring-1 focus:ring-[#0157FF] w-full my-2" />
                        <p class="text-red-500 font-bold block my-1" v-if="v$.password.$error">{{
                            v$.password.$errors[0].$message
                        }}
                        </p>
                    </div>
                </div>

                <div class="mt-5 flex justify-between items-center space-x-2">
                    <div class="flex items-center space-x-2">
                        <input type="checkbox">
                        <p>Remember</p>
                    </div>
                    <p
                        class="text-[#0157FF] cursor-pointer hover:text-[#0157FF] hover:underline transition duration-200 font-bold ease-in">
                        Forgot password?</p>
                </div>
                <div class="my-3">
                    <button v-if="formData.loading"
                        class="w-full rounded-md bg-[#0157FF] grid-center transition-effect px-3 py-4 text-white hover:bg-yellow focus:border-none focus:outline-none focus:ring-1 focus:ring-[#0157FF]">
                        <Icon icon="svg-spinners:3-dots-bounce" class="text-xl text-white" />
                    </button>
                    <button v-else
                        class="w-full rounded-md bg-[#0157FF] hover:bg-[#1040a0] transition duration-200 cursor-pointer ease-in px-3 py-4 text-white hover:bg-yellow focus:border-none focus:outline-none focus:ring-1 focus:ring-[#0157FF]">Sign
                        In</button>
                </div>

                <div class="mt-5 grid place-items-center">
                    <h3>Don't have an account? <router-link to="/auth/register">
                            <span
                                class="text-[#0157FF] transition duration-200 ease-in cursor-pointer hover:underline hover:text-[#3074fc]">Sign
                                Up</span>
                        </router-link>
                    </h3>
                </div>
            </form>
        </div>

        <div class="col-span-1 order-2 mb-10 md:order-2">
            <img :src="TechLogo" alt="Tech logo" class="mt-4 lg:w-[500px] 2xl:w-[600px]">
        </div>
    </div>
</template>