<script setup lang="ts">
import { ref, watchEffect } from "vue";
import { useSidebarStore } from "../../store/sidebarStore";
import { Icon } from "@iconify/vue";
const sidebarStore = useSidebarStore();
const sidebarIsOpen = ref(sidebarStore.sidebarIsOpen);
const rotate = ref<any>("");
const rotated = ref(false);
const handleSidebar = () => {
    sidebarStore.toggleSidebar(sidebarIsOpen.value = !sidebarIsOpen.value);
};
const today = new Date();
const formattedDate = today.toLocaleDateString('en-US', { weekday: 'long', month: 'long', day: 'numeric' });
watchEffect(() => {
    rotated.value = sidebarStore.sidebarIsOpen
})
</script>
<template>
    <div class="flex justify-between items-center py-6 px-2">
        <div>
            <h1 class="font-bold text-xl md:text-2xl">Welcome John</h1>
        </div>

        <div class="flex items-center space-x-2 lg:hidden">
            <div :class="{ 'rotate': rotate }" @click="handleSidebar" class="relative">
                <div class="absolute right-6">
                    <span aria-hidden="true"
                        class="block absolute h-0.5 w-5 bg-current text-black transform transition duration-500 ease-in-out"
                        :class="{ 'rotate-45': rotated, ' -translate-y-1.5': !rotated }"></span>
                    <span aria-hidden="true"
                        class="block absolute h-0.5 w-5 bg-current text-black  transform transition duration-500 ease-in-out"
                        :class="{ 'opacity-0': rotated }"></span>
                    <span aria-hidden="true"
                        class="block absolute h-0.5 w-5 bg-current text-black  transform transition duration-500 ease-in-out"
                        :class="{ '-rotate-45': rotated, ' translate-y-1.5': !rotated }"></span>
                </div>
            </div>
        </div>


        <div class="hidden lg:flex lg:items-center lg:space-x-2">
            <div class="relative hidden md:flex">
                <Icon icon="ic:round-notifications" class="text-2xl relative" />
                <span class="bg-red-500 h-1 w-1 top-1 right-1.5 rounded-full absolute"></span>
            </div>

            <div>
                <p class="text-sm md:text-base">{{ formattedDate }}</p>
            </div>
        </div>
    </div>
</template>