<script setup lang="ts">
import { highlight, languages } from "prismjs/components/prism-core";
import 'prismjs/components/prism-markup-templating';
import 'prismjs/components/prism-php';
import 'prismjs/components/prism-bash';
// import 'prismjs/components/prism-python';
// import 'prismjs/components/prism-ruby';
// import 'prismjs/components/prism-java';
import 'prismjs/themes/prism-tomorrow.css'; 
const props = defineProps<{
  code: string,
  lang?: string
}>();

const highlighter = () => {
  const language = languages[props.lang ?? 'php']; // default to javascript
  return highlight(props.code, language);
};
</script>
<template>
    <div class="overflow-x-auto">
        <prism-editor class="my-editor" v-model="props.code" :highlight="highlighter" line-numbers readonly></prism-editor>
    </div>
</template>
<style>
.my-editor {
    color: #fff;
    font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
    font-size: 14px;
    line-height: 1.5;
    width: 500px;
    overflow: auto;
    padding: 5px;
}
.prism-editor__textarea:focus {
    outline: none;
}
</style>