<script setup lang="ts">
import { Icon } from "@iconify/vue";
import { onMounted, ref, watch } from "vue";
import CodeEditor from "./CodeEditor.vue";
type Tab = string
interface Data {
    activeTab: Tab
};
const activeTab = ref<string>("python");
const lang = ref("php");
const language = ref('php')
const clickTab = (name: Tab): void => {
    activeTab.value = name
};

const composer = ref('');
const composerNode = ref('');
const composerJava = ref(``);
const composerPhp = ref(``);
const composerRuby = ref(``);
const tabToCodeMap: Record<string, string> = {
    python: `*** Authorization Request in Python ***| 

import requests

url = "https://sandbox.safaricom.co.ke/oauth/v1/generate"
querystring = {"grant_type":"client_credentials"}
payload = ""
headers = {  
"Authorization": "Basic 
SWZPREdqdkdYM0FjWkFTcTdSa1RWZ2FTSklNY001RGQ6WUp4ZVcxMTZaV0dGNFIzaA=="
}
response = requests.request("GET", url, 
data=payload, headers=headers, params=querystring)
print(response.text)`,
    nodejs: `*** Authorization Request in NodeJS ***|
 
 var unirest = require("unirest");
 var req = unirest("GET", "https://sandbox.safaricom.co.ke/oauth/v1/generate");
  
 req.query({
  "grant_type": "client_credentials"
 });
  
 req.headers({
  "Authorization": "Basic 
 SWZPREdqdkdYM0FjWkFTcTdSa1RWZ2FTSklNY001RGQ6WUp4ZVcxMTZaV0dGNFIzaA=="
 });
  
 req.end(res => {
  if (res.error) throw new Error(res.error);
  console.log(res.body);
 });`,
    java: `*** Authorization Request in Java ***|
 
 OkHttpClient client = new OkHttpClient();
 Request request = new Request.Builder()
 import requests
   .url("https://sandbox.safaricom.co.ke/oauth/v1/generate?grant_type=client_credentials")
   .get()
   .addHeader("Authorization", "Basic
  SWZPREdqdkdYM0FjWkFTcTdSa1RWZ2FTSklNY001RGQ6WUp4ZVcxMTZaV0dGNFIzaA==")
   .build();
 Response response = client.newCall(request).execute();`,
    php: `*** Authorization Request in PHP ***|
 
 $ch = curl_init('https://sandbox.safaricom.co.ke/oauth/v1/generate?grant_type=client_credentials');
 curl_setopt($ch, CURLOPT_HTTPHEADER, [
   'Authorization: Basic ' . base64_encode('YOUR_APP_CONSUMER_KEY:YOUR_APP_CONSUMER_SECRET')
 ]);
 curl_setopt($ch, CURLOPT_SSL_VERIFYPEER, false);
 $response = curl_exec($ch);
 echo json_decode($response);`,
    ruby: `*** Authorization Request in Ruby ***|
 
 require 'uri'
 require 'net/http'
 url = URI('https://sandbox.safaricom.co.ke/oauth/v1/generate?grant_type=client_credentials')
 http = Net::HTTP.new(url.host, url.port)
 request = Net::HTTP::Get.new(url)
 request['Authorization'] = 'Basic SWZPREdqdkdYM0FjWkFTcTdSa1RWZ2FTSklNY001RGQ6WUp4ZVcxMTZaV0dGNFIzaA=='
 response = http.request(request)
 puts response.read_body`,
};

const animateCode = (code: string, target: any) => {
    if (target.value !== '') {
        return;
    }
    let index = 0;
    const typingInterval = setInterval(() => {
        target.value += code[index];
        index++;

        if (index >= code.length) {
            clearInterval(typingInterval);
        }
    }, 100);
};

watch(activeTab, (newVal: string, oldVal: string) => {
    const code = tabToCodeMap[newVal];
    let target: any;

    if (newVal === 'python') {
        target = composer;
    } else if (newVal === 'nodejs') {
        target = composerNode;
    } else if (newVal === 'java') {
        target = composerJava;
    } else if (newVal === 'php') {
        target = composerPhp;
    } else {
        target = composerRuby;
    }

    animateCode(code, target);
});
onMounted(() => {
    const code = tabToCodeMap[activeTab.value];
    let target: any;

    if (activeTab.value === 'python') {
        target = composer;
    } else if (activeTab.value === 'nodejs') {
        target = composerNode;
    }

    animateCode(code, target);
});
</script>
<template>
    <div>
        <div>
            <main class="mt-6 space-y-10 ">
                <section>
                    <TabGroup class="bg-gray-900/90 py-4" TabGroupWidth="w-auto md:w-[535px]">
                        <div class="flex justify-between items-center py-2 px-2">
                            <div class="flex items-center space-x-2">
                                <div class="w-2 h-2 bg-red-500 rounded-md"></div>
                                <div class="w-2 h-2 bg-yellow-500 rounded-md"></div>
                                <div class="w-2 h-2 bg-green-500 rounded-md"></div>
                            </div>

                            <div class="flex items-center space-x-2">
                                <div class="bg-white w-4 h-4">
                                    <Icon icon="ph:brackets-square-light" class="text-base" />
                                </div>
                                <p class="text-white">Console</p>
                            </div>
                        </div>
                        <TabsWrapper>
                            <Tab titleColor="text-white" titleSize="text-xs" activeTitleColor="text-green-500" barColor="border-green-500"
                                title="PYTHON" :isActive="activeTab === 'python'" @onClick="clickTab('python')">
                                <template #icon>
                                    <Icon icon="logos:python" :class="{ 'text-green-500': activeTab === 'python' }"
                                        class="text-xl font-medium w-4 h-4 mr-2" />
                                </template>
                            </Tab>
                            <Tab titleColor="text-white" titleSize="text-xs" activeTitleColor="text-green-500" barColor="border-green-500"
                                title="NODEJS" :isActive="activeTab === 'nodejs'" @onClick="clickTab('nodejs')">
                                <template #icon>
                                    <Icon icon="vscode-icons:file-type-node"
                                        :class="{ 'text-green-500': activeTab === 'nodejs' }"
                                        class="text-xl font-medium w-4 h-4 mr-2" />
                                </template>
                            </Tab>
                            <Tab titleColor="text-white" titleSize="text-xs" activeTitleColor="text-green-500" barColor="border-green-500"
                                title="JAVA" :isActive="activeTab === 'java'" @onClick="clickTab('java')">
                                <template #icon>
                                    <Icon icon="logos:java" :class="{ 'text-green-500': activeTab === 'java' }"
                                        class="text-xl font-medium w-4 h-4 mr-2" />
                                </template>
                            </Tab>
                            <Tab titleColor="text-white" titleSize="text-xs" activeTitleColor="text-green-500" barColor="border-green-500"
                                title="PHP" :isActive="activeTab === 'php'" @onClick="clickTab('php')">
                                <template #icon>
                                    <Icon icon="logos:php" :class="{ 'text-green-500': activeTab === 'php' }"
                                        class="text-xl font-medium w-4 h-4 mr-2" />
                                </template>
                            </Tab>

                            <Tab titleColor="text-white" titleSize="text-xs" activeTitleColor="text-green-500" barColor="border-green-500"
                                title="RUBY" :isActive="activeTab === 'ruby'" @onClick="clickTab('ruby')">
                                <template #icon>
                                    <Icon icon="logos:ruby" :class="{ 'text-green-500': activeTab === 'ruby' }"
                                        class="text-xl font-medium w-4 h-4 mr-2" />
                                </template>
                            </Tab>
                        </TabsWrapper>
                        <TabsContent TabsContentBackgroundColor="transparent">
                            <div v-if="activeTab === 'python'">
                                <CodeEditor :code="composer" :lang="lang" />
                            </div>
                            <div v-if="activeTab === 'nodejs'">
                                <CodeEditor :code=composerNode :lang="language" />
                            </div>
                            <div v-if="activeTab === 'java'">
                                <CodeEditor :code="composerJava" :lang="lang" />
                            </div>
                            <div v-if="activeTab === 'php'">
                                <CodeEditor :code=composerPhp :lang="lang" />
                            </div>

                            <div v-if="activeTab === 'ruby'">
                                <CodeEditor :code="composerRuby" :lang="lang" />
                            </div>
                        </TabsContent>
                    </TabGroup>
                </section>
            </main>
        </div>
    </div>
</template>