@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-Inter
    }
}

@layer components {
    .input-style {
        @apply appearance-none py-2 px-2 mt-2 w-full rounded-md focus:outline-none focus:ring-1 focus:ring-red-500 bg-gray-400/30 text-white placeholder-gray-400
    }
    .sidebar {
        height: 100vh;
        width: 90%;
        left: -2%;
        position: fixed;
        top: 1%;
        z-index: 50;
        display: inline-block;
        list-style: none;
        transition: all 0.5s;
    }

    .sidebar li {
        margin: 10px;
    }

    .sidebar li a {
        text-decoration: none;
        font-size: 20px;
    }
    
    .background-animate {
        background-size: 400%;

        -webkit-animation: AnimationName 3s ease infinite;
        -moz-animation: AnimationName 3s ease infinite;
        animation: AnimationName 3s ease infinite;
    }

    @keyframes AnimationName {

        0%,
        100% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }
    }

    .animated-content {
        animation: scrolling 20s linear infinite;
    }

    .animated-content:hover {
        animation-play-state: paused;
    }

    .animated-content li {
        width: 20%;
    }

    .content:before,
    .content:after {
        position: absolute;
        top: 0;
        width: 10rem;
        height: 3em;
        content: "";
        z-index: 1;
    }

    .content:before {
        left: 0;
        background: linear-gradient(to right, 0%, transparent 100%);
    }

    .content:after {
        right: 0;
        background: linear-gradient(to left, 0%, transparent 100%);
    }

    @keyframes scrolling {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-200%);
        }
    }

}

