<script setup lang='ts'>
import CheckoutLogo from "../../assets/logos/CheckOut Logo.png";
</script>

<template>
    <div class="grid place-items-center space-y-2 pt-56 md:pt-4">
        <div>
            <h1 data-aos="fade-up" class="font-bold text-xl text-center py-2 md:text-4xl">Integrate Payment Solutions</h1>
            <p data-aos="fade-up" data-aos-duration="1500" class="text-xl text-center">No code changes. No UI designs needed.</p>
        </div>
        <img data-aos="fade-up" data-aos-duration="2000" :src="CheckoutLogo" alt="Checkout Logo" class="pt-14">
    </div>
</template>