<script setup lang="ts">
import SidebarComponent from '../components/DashboardSidebar/SidebarComponent.vue';
import DashboardHeader from '../components/DashboardHeader/DashboardHeader.vue';
</script>
<template>
    <div class="w-full">
        <div>
            <div>
                <SidebarComponent />
            </div>
        </div>
        <div :class="`flex-grow h-full max-w-[950px] sm:ml-8 md:max-w-7xl lg:ml-[320px] 2xl:max-w-full`">
            <DashboardHeader />
            <div class="px-4">
              <router-view/>
            </div>
        </div>
    </div>
</template>