<script setup lang='ts'>
import HeroComponent from '../components/Hero/HeroComponent.vue';
import MouseAnimation from '../components/Animation/MouseAnimation.vue';
import CheckoutComponent from '../components/CheckOut/CheckoutComponent.vue';
import ScrollableContent from "../components/Scrollable/ScrollableComponent.vue";
import SolutionsComponent from '../components/Solutions/SolutionsComponent.vue';
import GetStartedComponent from '../components/GettingStarted/GetStartedComponent.vue';
import Footer from "../components/Footer/Footer.vue";
</script>

<template>
    <div class="5xl:px-80">
        <HeroComponent/>
        <MouseAnimation/>
        <CheckoutComponent/>
        <ScrollableContent/>
        <SolutionsComponent/>
        <GetStartedComponent/>
        <Footer/>
    </div>
</template>