<script setup lang="ts">
import SidebarLinks from "./SidebarLinks.vue";
import { Icon } from "@iconify/vue";
import { useSidebarStore } from "../../store/sidebarStore";
const sidebarStore = useSidebarStore();
</script>
<template>
    <transition name="mobileNav" class="animation">
        <div v-if="sidebarStore.userSidebarIsOpen"
            class="fixed h-full items-center flex-col z-10 bg-[#E9ECF3] shadow-lg border-r border-gray-400 w-[300px] lg:top-0">
            <div class="flex flex-col justify-between items-center h-full">
                <div>
                    <SidebarLinks />
                </div>

                <div>
                    <div class="w-full grid place-items-center">
                        <div class="bg-[#1D54F6]/10 shadow-lg rounded-xl w-56 h-48 relative">
                            <div class="grid place-items-center relative -top-4">
                                <div class="rounded-full grid place-items-center h-10 w-10 bg-blue-500">
                                    <div class="bg-white rounded-full h-6 w-6 grid place-items-center">
                                        <Icon icon="tabler:question-mark" class="text-xl" />
                                    </div>
                                </div>
                            </div>


                            <div class="grid place-items-center space-y-2">
                                <h1 class="text-[#001B6A]">Help Center</h1>
                                <p class="text-sm text-center px-4">Having any trouble with
                                    FutureFast. Please contact
                                    us for more assistance.</p>

                                <div class="grid place-items-center">
                                    <button class="bg-white text-[#001B6A] rounded-md font-bold px-4 py-2">
                                        Go to help center
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="flex items-center space-x-2 px-6 cursor-pointer py-6">
                        <Icon icon="ic:outline-log-in" class="text-xl" />
                        <span>Log Out</span>
                    </div>
                </div>
            </div>
        </div>

        <div v-else>
            <div
                class="hidden fixed bg-[#E9ECF3] z-4 overflow-y-auto h-full flex-col w-[300px] border-r border-gray-300 lg:block">
                <div class="flex flex-col justify-between items-center h-full">
                    <div class="h-full">
                        <SidebarLinks />
                    </div>

                    <div>
                        <div class="w-full grid place-items-center">
                            <div class="bg-[#1D54F6]/10 shadow-lg rounded-xl w-56 h-48 relative">
                                <div class="grid place-items-center relative -top-4">
                                    <div class="rounded-full grid place-items-center h-10 w-10 bg-blue-500">
                                        <div class="bg-white rounded-full h-6 w-6 grid place-items-center">
                                            <Icon icon="tabler:question-mark" class="text-xl" />
                                        </div>
                                    </div>
                                </div>


                                <div class="grid place-items-center space-y-2">
                                    <h1 class="text-[#001B6A]">Help Center</h1>
                                    <p class="text-sm text-center px-4">Having any trouble with
                                        FutureFast. Please contact
                                        us for more assistance.</p>

                                    <div class="grid place-items-center">
                                        <button class="bg-white text-[#001B6A] rounded-md font-bold px-4 py-2">
                                            Go to help center
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="flex items-center space-x-2 px-6 cursor-pointer py-6">
                            <Icon icon="ic:outline-log-in" class="text-xl" />
                            <span>Log Out</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<style scoped>
.mobileNav-enter-active,
.mobileNav-leave-active {
    transition: all 0.5s ease-in;
}

.mobileNav-enter-from,
.mobileNav-leave-to {
    transform: translateX(-250px)
}

.mobileNav-enter-to {
    transform: translateX(0);
}
</style>
