<script setup lang="ts">
import { ref } from "vue";
import type { Header, Item } from "vue3-easy-data-table";
import { Icon } from "@iconify/vue";
const headers: Header[] = [
    { text: "PLAYER", value: "player" },
    { text: "TEAM", value: "team" },
    { text: "NUMBER", value: "number" },
    { text: "POSITION", value: "position" },
    { text: "HEIGHT", value: "height" },
    { text: "WEIGHT (lbs)", value: "weight", sortable: true },
    { text: "LAST ATTENDED", value: "lastAttended" },
    { text: "COUNTRY", value: "country" },
];

const items: Item[] = [
    { "player": "Stephen Curry", "team": "GSW", "number": 30, "position": 'G', "height": '6-2', "weight": 185, "lastAttended": "Davidson", "country": "USA" },
    { "player": "Lebron James", "team": "LAL", "number": 6, "position": 'F', "height": '6-9', "weight": 250, "lastAttended": "St. Vincent-St. Mary HS (OH)", "country": "USA" },
    { "player": "Kevin Durant", "team": "BKN", "number": 7, "position": 'F', "height": '6-10', "weight": 240, "lastAttended": "Texas-Austin", "country": "USA" },
    { "player": "Giannis Antetokounmpo", "team": "MIL", "number": 34, "position": 'F', "height": '6-11', "weight": 242, "lastAttended": "Filathlitikos", "country": "Greece" },
];
const searchField = ["number", "weight"];
const searchValue = ref("0");
</script>
<template>
    <div class="space-y-36 md:space-y-24">
        <div class="w-full bg-white rounded-md h-56">
            <div class="flex justify-between px-2 pt-6 items-center">
                <h1 class="font-bold">Pending Applications</h1>
                <div>
                    <label for="default-search"
                        class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <Icon icon="ic:sharp-search" class="text-xl" />
                        </div>
                        <input type="search" id="default-search"
                            class="block w-full py-2 px-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:outline-none"
                            placeholder="Search" required>
                    </div>
                </div>
            </div>
            <div class="pt-4">
                <EasyDataTable :headers="headers" :items="items" :search-field="searchField" :search-value="searchValue" />
            </div>
        </div>


        <div class="w-full bg-white rounded-md h-54">
            <div class="flex justify-between px-2 pt-6 items-center">
                <h1 class="font-bold">Active Merchants</h1>
                <div>
                    <label for="default-search"
                        class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <Icon icon="ic:sharp-search" class="text-xl" />
                        </div>
                        <input type="search" id="default-search"
                        class="block w-full py-2 px-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:outline-none"
                            placeholder="Search" required>
                    </div>
                </div>
            </div>
            <div class="pt-4">
                <EasyDataTable :headers="headers" :items="items" :search-field="searchField" :search-value="searchValue" />
            </div>
        </div>
    </div>
</template>