<script setup lang='ts'>
import CashLogo from "../../assets/logos/CashLogo.png";
import PhoneLogo from "../../assets/logos/PhoneLogo.png";
import WorkLogo from "../../assets/logos/WorkLogo.png";
import ArrowLineLogo from "../../assets/logos/ArrowLine.png";
import PlaneLogo from "../../assets/logos/PlaneLogo.png";
</script>

<template>
    <div class="pt-20">
        <div data-aos="fade-up" duration="6000" class="grid place-items-center">
            <h1 class="text-xl text-[#0057FD] border border-dashed border-[#0057FD] p-2 md:text-2xl">Embedded Solutions</h1>
        </div>
        <main class="space-y-3 pt-0 md:pt-6">
            <section class="relative py-12 sm:py-2 lg:pb-6">
                <div class="relative px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 2xl:w-full">
                    <div class="flex flex-col space-y-10 lg:flex lg:justify-between lg:items-center lg:flex-row lg:w-full">
                        <div
                            class="text-center space-y-2 pt-10 md:pt-0 lg:w-1/2 xl:col-span-1 md:px-16 lg:px-0 order-2 sm:order-1 md:order-2 lg:order-1">
                            <h1
                                class="text-xl font-bold text-center leading-tight lg:text-right text-gray-900 sm:text-lg sm:leading-tight lg:text-4xl lg:leading-tight">
                                Payment Aggregator Services</h1>
                            <h2 class="text-[#0057FD] text-base md:text-right md:text-2xl">Make payments from
                                anywhere.</h2>
                            <div class=" text-left">
                                <p class="pt-4 lg:text-right">With Futurefast Aggregator Solutions Payments can
                                    be
                                    accepted on your website or
                                    app
                                    using 170+ payment options.</p>
                                <p class="pt-4 lg:text-right">Future-proofed payment acceptance platform with
                                    uniform APIs for syncing with
                                    various payment options and content delivery systems.</p>
                                <div class="pt-1 text-left lg:text-right">
                                    <a href="#" title="Get started"
                                        class="inline-flex px-8 py-2 mt-4 text-lg font-bold text-white transition-all duration-200 bg-[#001B6A] hover:bg-[#123a83] border border-transparent sm:mt-6 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900"
                                        role="button">
                                        Get Started
                                    </a>

                                    <div class="hidden lg:absolute lg:left-[500px] lg:top-20 lg:z-20 ">
                                        <img :src="ArrowLineLogo" alt="" class="w-64 h-36">
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="grid place-items-center order-1 lg:order-2 xl:col-span-1">
                            <div class="relative">
                                <img data-aos="fade-up" duration="2000" :src="PhoneLogo" alt="Hero"
                                    class="w-[500px] relative">
                            </div>

                            <div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>


            <section class="relative py-12 sm:py-2 lg:pb-6">
                <div class="relative px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 2xl:w-full">
                    <div class="flex flex-col space-y-10 lg:flex lg:justify-between lg:items-center lg:flex-row lg:w-full">

                        <div class="grid place-items-center order-1 md:order-1 md:mt-4 lg:order-1 xl:col-span-1">
                            <div class="relative">
                                <img data-aos="fade-up" duration="1500" :src="CashLogo" alt="Hero"
                                    class="w-[500px]">
                            </div>

                            <div>

                            </div>
                        </div>

                        <div class="order-2 md:order-1 lg:order-2 space-y-2 lg:text-left lg:w-1/2 xl:col-span-1 md:px-16 lg:px-0">
                            <h1
                                class="text-xl font-bold text-center leading-tight lg:text-left text-gray-900 sm:text-lg sm:leading-tight lg:text-4xl lg:leading-tight">
                                Biller Network Solutions</h1>
                            <h2 class="text-[#0057FD] text-xl text-center md:text-left md:text-2xl">Make Payments. Your way.
                            </h2>
                            <div class="text-left">
                                <p class="pt-4">Futurefast Payment Network Solutions provides a full-stack framework for
                                    billers
                                    and agents.</p>
                                <p class="pt-4">Make payments for your monthly bills and subscriptions online and through
                                    mobile
                                    money to your service and utility provider with ease.</p>
                                <div class="pt-1">
                                    <a href="#" title="Get started"
                                        class="inline-flex px-8 py-2 mt-4 text-lg font-bold text-white transition-all duration-200 bg-[#001B6A] hover:bg-[#123a83] border border-transparent sm:mt-6 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900"
                                        role="button">
                                        Get Started
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class=" hidden md:grid md:place-items-center">
                    <img :src="PlaneLogo" alt="">
                </div>
            </section>



            <section class="relative py-12 sm:py-2 lg:pb-6">
                <div class="relative px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 2xl:w-full">
                    <div class="flex flex-col space-y-10 lg:flex lg:justify-between lg:items-center lg:flex-row lg:w-full">
                        <div
                            class="text-left space-y-2 pt-10 order-2 sm:pt-0 md:order-2 lg:order-1 lg:w-1/2 xl:col-span-1 md:px-16 lg:px-0">
                            <h1
                                class="text-xl font-bold text-center leading-tight lg:text-left text-gray-900 sm:text-lg sm:leading-tight lg:text-4xl lg:leading-tight">
                                Recurring Bills Payments</h1>
                            <h2 class="text-[#0057FD] text-center text-xl md:text-left md:text-2xl">Payment Collection.
                                Always.</h2>
                            <p class="pt-4">Futurefast Recurring Solutions - Give your clients access to all bank accounts
                                and the ability to set up recurring payments using Cards.</p>
                            <p class="pt-4">All recurring collection modes are supported by a single API stack.</p>
                            <div class="pt-1">
                                <a href="#" title="Get started"
                                    class="inline-flex px-8 py-2 mt-4 text-lg font-bold text-white transition-all duration-200 bg-[#001B6A] hover:bg-[#123a83] border border-transparent sm:mt-6 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900"
                                    role="button">
                                    Get Started
                                </a>
                            </div>

                        </div>


                        <div class="grid place-items-center order-1 md:order-1 lg:mt-0 lg:order-2 xl:col-span-1">
                            <div class="relative">
                                <img data-aos="fade-up" duration="1500" :src="WorkLogo" alt="Hero"
                                    class="w-[500px]">
                            </div>

                            <div>

                            </div>
                        </div>


                    </div>
                </div>
            </section>
        </main>
    </div>
</template>