<script setup lang="ts">
import FutureFastLogo from "../../assets/logos/FutureFastLogo.png";
import { useRoute } from "vue-router";
import { ref } from "vue";
import { useDark, useToggle } from "@vueuse/core";
import { Icon } from "@iconify/vue";
const rotate = ref<boolean>(false);
const route = useRoute();
const sidebarIsOpen = ref(false);
const links = [
    {
        id: 1,
        link: 'How it works'
    },

    {
        id: 2,
        link: 'Services'
    },
    {
        id: 3,
        link: 'Pricing'
    },
    {
        id: 4,
        link: 'Benefits'
    }
];
const handleSidebar = () => {
    sidebarIsOpen.value = !sidebarIsOpen.value
};

const isDark = useDark()
const toggleDark = useToggle(isDark)
</script>
<template>
    <header
        v-if="route.name === 'Home' || route.name === 'Login' || route.name === 'Register' || route.name === 'user-onboarding'">
        <nav class="w-full h-20 flex justify-between items-center py-4 px-2 md:px-0">
            <div class="flex items-center space-x-20">
                <router-link to="/">
                    <img :src="FutureFastLogo" alt="FutureFast Logo" class="cursor-pointer">
                </router-link>

                <div v-if="route.name !== 'user-onboarding'" class="hidden lg:flex lg:items-center lg:space-x-8">
                    <ul v-for="link in links" :key="link.id">
                        <li
                            class="dark:text-white cursor-pointer text-black hover:text-[#0057FD] transition duration-200 ease-in">
                            {{
                                link.link }}</li>
                    </ul>
                </div>
            </div>

            <div v-if="route.name === 'user-onboarding'">
                <div class="hidden lg:flex lg:items-center lg:space-x-8">
                    <ul v-for="link in links" :key="link.id">
                        <li
                            class="dark:text-white cursor-pointer text-black hover:text-[#0057FD] transition duration-200 ease-in">
                            {{
                                link.link }}</li>
                    </ul>
                </div>
            </div>

            <div v-if="route.name === 'Home'">
                <div class="hidden lg:block">
                    <div class="flex items-center space-x-8">
                        <div>
                            <router-link to="/auth/login">
                                <h2>Sign In</h2>
                            </router-link>
                        </div>

                        <div>
                            <router-link to="/auth/register">
                                <button
                                    class="py-2 px-4 text-white bg-[#001B6A] hover:bg-[#123a83] transition duration-200 ease-in rounded-md">
                                    Get Started
                                </button>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="route.name === 'Register'">
                <div class="hidden lg:block">
                    <div>
                        <router-link to="/auth/login">
                            <button
                                class="py-2 px-4 text-white bg-[#001B6A] hover:bg-[#123a83] transition duration-200 ease-in rounded-md">
                                <span class="flex items-center space-x-3">
                                    <Icon icon="material-symbols:person-rounded" class="text-base" />
                                    <span>Login</span>
                                </span>
                            </button>
                        </router-link>
                    </div>
                </div>
            </div>

            <div v-if="route.name === 'Login'">
                <div class="hidden lg:block">
                    <div>
                        <router-link to="/auth/register">
                            <button
                                class="py-2 px-4 text-white bg-[#001B6A] hover:bg-[#123a83] transition duration-200 ease-in rounded-md">
                                <span class="flex items-center space-x-3">
                                    <Icon icon="material-symbols:person-rounded" class="text-base" />
                                    <span>Register</span>
                                </span>
                            </button>
                        </router-link>
                    </div>
                </div>
            </div>

            <div class="flex items-center lg:hidden">
                <div>
                    <div :class="{ 'rotate': rotate }" @click="handleSidebar">
                        <div class="mr-4">
                            <span aria-invisible="true"
                                class="block absolute h-0.5 w-5 bg-current text-black transform transition duration-500 ease-in-out"
                                :class="{ 'rotate-45': sidebarIsOpen, ' -translate-y-1.5': !sidebarIsOpen }"></span>
                            <span aria-invisible="true"
                                class="block absolute h-0.5 w-5 bg-current text-black  transform transition duration-500 ease-in-out"
                                :class="{ 'opacity-0': sidebarIsOpen }"></span>
                            <span aria-invisible="true"
                                class="block absolute h-0.5 w-5 bg-current text-black  transform transition duration-500 ease-in-out"
                                :class="{ '-rotate-45': sidebarIsOpen, ' translate-y-1.5': !sidebarIsOpen }"></span>
                        </div>
                    </div>
                </div>
            </div>

            <transition name="mobileNav" class="animation">
                <div v-show="sidebarIsOpen"
                    class="h-screen w-72 left-2 fixed top-1 z-50 inline-block list-none transition-all duration-500 bg-white shadow-md space-y-5 px-4 py-1 lg:invisible">

                    <div class="flex justify-between items-center pt-4">
                        <div>
                            <img :src="FutureFastLogo" alt="FutureFast Logo" class="w-48 h-6">
                        </div>

                        <div class="flex items-center space-x-2 lg:hidden">
                            <div :class="{ 'rotate': rotate }" @click="handleSidebar">
                                <div class="absolute top-4 right-6">
                                    <span aria-invisible="true"
                                        class="block absolute h-0.5 w-5 bg-current text-black transform transition duration-500 ease-in-out"
                                        :class="{ 'rotate-45': sidebarIsOpen, ' -translate-y-1.5': !sidebarIsOpen }"></span>
                                    <span aria-invisible="true"
                                        class="block absolute h-0.5 w-5 bg-current text-black  transform transition duration-500 ease-in-out"
                                        :class="{ 'opacity-0': sidebarIsOpen }"></span>
                                    <span aria-invisible="true"
                                        class="block absolute h-0.5 w-5 bg-current text-black  transform transition duration-500 ease-in-out"
                                        :class="{ '-rotate-45': sidebarIsOpen, ' translate-y-1.5': !sidebarIsOpen }"></span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div>
                        <ul v-for="link in links" :key="link.id" class="space-y-4 pt-3">
                            <li class="hover:text-[#0057FD] cursor-pointer my-2">{{ link.link }}</li>
                        </ul>
                    </div>

                    <div v-if="route.name === 'Home' || route.name === 'Login' || route.name === 'Register'"
                        class="space-y-6 pt-2.5">
                        <div>
                            <router-link to="/auth/login">
                                <h2>Sign In</h2>
                            </router-link>
                        </div>

                        <div>
                            <router-link to="/auth/register">
                                <button
                                    class="py-2 px-4 text-white bg-[#001B6A] hover:bg-[#123a83] transition duration-200 ease-in rounded-md">
                                    Get Started
                                </button>
                            </router-link>
                        </div>
                    </div>

                    <div class="hidden py-3">
                        <div
                            class="flex justify-between items-center w-52 h-12 bg-gray-100 dark:bg-[#16191b] rounded-md px-2">
                            <div>
                                <h4 class="dark:text-gray-400 text-base">Appearance</h4>
                            </div>

                            <div>
                                <button @click="toggleDark()"
                                    class="py-2 px-2 bg-gray-200 rounded-md dark:bg-gray-200/10 dark:hover:bg-gray-200/20 transition-delay-timer">
                                    <Icon v-if="isDark" icon="ph:sun" class="w-4 h-4 dark:text-white" />
                                    <Icon v-else icon="ph:moon" class="w-4 h-4" />
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </transition>

        </nav>
    </header>
</template>
<style scoped>
.mobileNav-enter-active,
.mobileNav-leave-active {
    transition: all 0.5s ease-in;
}

.mobileNav-enter-from,
.mobileNav-leave-to {
    transform: translateX(-250px)
}

.mobileNav-enter-to {
    transform: translateX(0);
}
</style>
