<script setup lang="ts">
import { Icon } from "@iconify/vue";
const solutionsList = [
    {
        id: 1,
        name: "Online payments",
    },

    {
        id: 2,
        name: "Subscriptions"
    },
    {
        id: 3,
        name: "EMIs"
    },
    {
        id: 4,
        name: "Recharges"
    },
    {
        id: 5,
        name: "International payments"
    },
    {
        id: 6,
        name: "Payment links"
    },
    {
        id: 7,
        name: "Bill payments"
    },
    {
        id: 8,
        name: "Tokenization"
    }
];
const resourcesList = [
    {
        id: 1,
        name: "Documentation"
    },
    {
        id: 2,
        name: "Blog"
    },
    {
        id: 3,
        name: "Support"
    },
    {
        id: 4,
        name: "Grievance Redressal"
    },
    {
        id: 5,
        name: "Privacy"
    },
    {
        id: 6,
        name: "Terms and Conditions"
    },
    {
        id: 7,
        name: "Licenses and Certifications"
    },
    {
        id: 8,
        name: "Security"
    },
    {
        id: 8,
        name: "Merchant Onboarding"
    }
];
const companyList = [
    {
        id: 1,
        name: "About Us"
    },

    {
        id: 2,
        name: "Customers"
    },

    {
        id: 3,
        name: "Newsroom"
    },

    {
        id: 4,
        name: "Careers"
    },

    {
        id: 5,
        name: "Contact"
    },

    {
        id: 6,
        name: 'CSR'
    }
];
const developersList = [
    {
        id: 1,
        name: "API Documentation"
    },
    {
        id: 2,
        name: "API Reference"
    },
    {
        id: 3,
        name: "API Status"
    }
];
const contactList = [
    {
        id: 1,
        name: "Instagram",
        icon: 'skill-icons:instagram'
    },
    {
        id: 2,
        name: "Twitter",
        icon: "logos:twitter"
    },
    {
        id: 3,
        name: 'Email',
        icon: "material-symbols:mail"
    },

    {
        id: 4,
        name: "LinkedIn",
        icon: "logos:linkedin-icon"
    }
];

const footerList = [
    {
        id: 1,
        name: "Terms of use"
    },

    {
        id: 2,
        name: "Privacy policy"
    },

    {
        id: 3,
        name: "Cookie policy"
    },

    {
        id: 4,
        name: "Merchant service agreement"
    },

    {
        id: 5,
        name: "Payment protection promise"
    }
]

</script>
<template>
    <div class="mt-20">
        <div class="bg-[#001B6A] w-full p-2 text-white">
            <div class="grid grid-cols-2 sm:place-items-start sm:grid sm:grid-cols-5">
                <div class="col-span-1 px-10">
                    <h1 class="text-xl py-4 md:text-2xl">Solutions</h1>
                    <div>
                        <div v-for="solution in solutionsList" :key="solution.id" class="py-1">
                            <h4 class="text-gray-200 hover:underline cursor-pointer">{{ solution.name }}</h4>
                        </div>
                    </div>
                </div>

                <div class="col-span-1 px-10">
                    <h1 class="text-xl py-4 md:text-2xl">Resources</h1>
                    <div>
                        <div v-for="resource in resourcesList" :key="resource.id" class="py-1">
                            <h4 class="text-gray-200 hover:underline cursor-pointer">{{ resource.name }}</h4>
                        </div>
                    </div>
                </div>

                
                <div class="col-span-1 px-10">
                    <h1 class="text-xl py-4 md:text-2xl">Company</h1>
                    <div>
                        <div v-for="company in companyList" :key="company.id" class="py-1">
                            <h4 class="text-gray-200 hover:underline cursor-pointer">{{ company.name }}</h4>
                        </div>
                    </div>
                </div>

                <div class="col-span-1 px-10">
                    <h1 class="text-xl py-4 md:text-2xl">Developers</h1>
                    <div>
                        <div v-for="developer in developersList" :key="developer.id" class="py-1">
                            <h4 class="text-gray-200 hover:underline cursor-pointer">{{ developer.name }}</h4>
                        </div>
                    </div>
                </div>

                <div class="col-span-1 px-10">
                    <h1 class="text-xl py-4 md:text-2xl">Contacts</h1>
                    <div>
                        <div v-for="contact in contactList" :key="contact.id" class="py-1">
                           <div class="flex items-center space-x-2 space-y-2">
                            <Icon :icon="contact.icon" class="text-xl"/>
                            <h4 class="text-gray-200 hover:underline cursor-pointer">{{ contact.name }}</h4>
                           </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="w-full h-48 grid place-items-center px-2 space-y-3 py-2 bg-black md:space-y-0 md:h-10 md:flex md:justify-between md:items-center">
            <div class="flex items-center space-x-2">
                <Icon icon="uiw:copyright" class="text-white"/>
                <p class="text-white text-sm">2023 FutureFast. All Rights Reserved </p>
            </div>

            <div class="space-y-2 grid place-items-center md:space-y-0 md:flex md:items-center md:space-x-2 lg:space-x-6">
                <ul v-for="list in footerList" :key="list.id">
                    <li class="text-white text-xs cursor-pointer hover:underline lg:text-sm">{{ list.name }}</li>
                </ul>
            </div>
        </div>
    </div>
</template>