<script setup lang="ts">
import TechLogo from "../../assets/logos/Tech.png";
import { Icon } from "@iconify/vue";
import useVuelidate from "@vuelidate/core";
import { required, email, helpers, sameAs } from "@vuelidate/validators";
import { ref, reactive, computed } from "vue";
const formData = reactive({
    firstName: "",
    lastName: "",
    email: "",
    password: "",
    confirmPassword: "",
    isChecked: false,
    loading: ""
});
const rules = computed(() => {
    return {
        firstName: { required: helpers.withMessage("First name is required", required) },
        lastName: { required: helpers.withMessage("Last name is required", required) },
        email: { required: helpers.withMessage("Email is required", required), email },
        password: { required: helpers.withMessage("Password is required", required) },
        confirmPassword: { required: helpers.withMessage("Password is required", required), sameAs: sameAs(formData.password) }
    }
})
const v$ = useVuelidate(rules, formData)
const handleSubmit = async () => {
    const response = await v$.value.$validate();
};

const journeyList = [
    {
        id: 1,
        name: "Accept payments from 170+ methods"
    },

    {
        id: 2,
        name: "Automate your collections with recurring solutions"
    },

    {
        id: 3,
        name: "Increase customer engagement with 20+ bill payment categories"
    },

    {
        id: 4,
        name: "Simplify your business operations with Hexagon for billers and agents"
    },

    {
        id: 5,
        name: "Experience 20+ years of unmatched services and expertise"
    }
]
</script>
<template>
    <div class="mt-4 2xl:px-20">
        <div
            class="w-full mt-10 px-4 mx-auto grid place-items-center grid-cols-1 space-x-4 md:grid md:mt-10 md:grid-cols-2">
            <div class="mt-2 col-span-1 order-1 md:order-1">
                <form @submit.prevent="handleSubmit()" class="w-72 p-4 rounded-xl md:w-96 lg:w-[500px] 2xl:w-[700px]">
                    <div class="pb-6 space-y-3 grid place-items-center">
                        <h1 class="text-2xl font-bold md:text-4xl">Create your account</h1>
                        <p class="font-bold text-center">Are you new here? Welcome aboard</p>
                        <button
                            class="w-full rounded-full py-3 px-2 hover:bg-gray-100 hover:border hover:border-gray-400 transition duration-200 ease-in flex justify-center border border-gray-600 items-center space-x-2">
                            <Icon icon="logos:google-icon" class="text-xl" />
                            <p class="font-bold">Login with Google</p>
                        </button>
                    </div>

                    <div class="flex justify-between items-center mt-3">

                        <hr class="w-full">
                        <span class="p-2 text-gray-400 mb-1">OR</span>
                        <hr class="w-full">

                    </div>

                    <div class="mt-5 w-full md:flex md:items-center md:space-x-4">
                        <div class="w-full">
                            <label for="firstName" class="block text-sm font-bold mb-2">First Name<sup
                                    class="text-red-500">*</sup></label>
                            <input type="text" id="firstName" name="firstName"
                                class="appearance-none block w-full px-3 py-3 border border-gray-300 rounded-xl shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                                placeholder="First Name" v-model="formData.firstName" />
                            <p class="text-red-500 font-bold block my-1" v-if="v$.firstName.$error">{{
                                v$.firstName.$errors[0].$message
                            }}
                            </p>
                        </div>

                        <div class="w-full mt-5 md:mt-0">
                            <label for="lastName" class="block text-sm font-bold mb-2">Last Name<sup
                                    class="text-red-500">*</sup></label>
                            <input type="text" id="lastName" name="lastName"
                                class="appearance-none block w-full px-3 py-3 border border-gray-300 rounded-xl shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                                placeholder="Last Name" v-model="formData.lastName" />
                            <p class="text-red-500 font-bold block my-1" v-if="v$.lastName.$error">{{
                                v$.lastName.$errors[0].$message
                            }}
                            </p>
                        </div>
                    </div>

                    <div>
                        <div class="mt-5">
                            <label for="email" class="block text-sm font-bold mb-2">Email<sup
                                    class="text-red-500">*</sup></label>
                            <input type="text" placeholder="Email" v-model="formData.email" autocomplete="email"
                                class="appearance-none block w-full px-3 py-3 border border-gray-300 rounded-xl shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
                                <p class="text-red-500 font-bold block my-1" v-if="v$.email.$error">{{
                            v$.email.$errors[0].$message
                        }}
                        </p>
                        </div>

                        <div class="mt-5">
                            <label for="password" class="block text-sm font-bold mb-2">Password<sup
                                    class="text-red-500">*</sup>
                            </label>
                            <input type="password" placeholder="Password" v-model="formData.password"
                                autocomplete="password"
                                class="appearance-none block w-full px-3 py-3 border border-gray-300 rounded-xl shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
                                <p class="text-red-500 font-bold block my-1" v-if="v$.password.$error">{{
                            v$.password.$errors[0].$message
                        }}
                        </p>
                        </div>

                        <div class="mt-5">
                            <label for="password" class="block text-sm font-bold mb-2">Confirm Password<sup
                                    class="text-red-500">*</sup>
                            </label>
                            <input type="password" placeholder="Confirm Password" v-model="formData.confirmPassword"
                                autocomplete="password"
                                class="appearance-none block w-full px-3 py-3 border border-gray-300 rounded-xl shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
                                <p class="text-red-500 font-bold block my-1" v-if="v$.confirmPassword.$error">{{
                            v$.confirmPassword.$errors[0].$message
                        }}
                        </p>
                        </div>
                    </div>

                    <div class="my-4 flex items-center">
                        <input type="checkbox">
                        <span class="ml-2 text-sm font-bold">I consent to receiving communications from FutureFast.</span>
                    </div>
                    <div class="my-3">
                        <button v-if="formData.loading"
                            class="w-full rounded-xl bg-[#0157FF] grid-center transition-effect px-3 py-4 text-white hover:bg-yellow focus:border-none focus:outline-none focus:ring-1 focus:ring-[#0157FF]">
                            <Icon icon="svg-spinners:3-dots-bounce" class="text-xl text-white" />
                        </button>
                        <button v-else
                            class="w-full rounded-xl bg-[#0157FF] hover:bg-[#1040a0] transition duration-200 cursor-pointer ease-in px-3 py-4 text-white hover:bg-yellow focus:border-none focus:outline-none focus:ring-1 focus:ring-[#0157FF]">Sign
                            Up</button>
                    </div>
                </form>
            </div>

            <div class="col-span-1 order-1 mb-10 md:order-2">
                <div class="space-y-2">
                    <div>
                        <h1 class="text-xl font-bold text-center md:text-left md:text-2xl ">Start your journey and:</h1>
                    </div>

                    <div>
                        <div v-for="list in journeyList" :key="list.id" class="flex items-center space-x-2">
                            <input type="checkbox" v-model="formData.isChecked" checked>
                            <p class="py-2 font-bold text-sm md:text-base">{{ list.name }}</p>
                        </div>
                    </div>
                </div>
                <img :src="TechLogo" alt="Tech logo" class="w-full mt-4">
            </div>
        </div>
    </div>
</template>