<script setup lang="ts">
import DashboardBar from '../../components/DashboardChartCards/DashboardCard.vue';
import DashboardTable from '../../components/DashboardTables/DashboardTable.vue';
</script>
<template>
    <div class="space-y-10">
        <DashboardBar />
        <DashboardTable />
    </div>
</template>