<template>
    <div data-aos="fade-up" duration="2000" class="mt-20 grid place-items-center">
        <div class="bg-[#001B6A] grid p-3 place-items-center rounded-md w-auto h-56 text-white md:w-[600px]">
            <div>
                <h1 class="text-white text-xl font-bold md:text-4xl">Ready to get started?</h1>
            </div>
            <div>
                <p class="text-white text-center">Create an account and instantly start accepting payments, selling your beautiful products online and building financial tools.</p>
            </div>

            <div>
                <button class="bg-white text-black rounded-md py-2 px-4">Contact Sales</button>
            </div>
        </div>
    </div>
</template>