<script setup lang='ts'>
const props = withDefaults(defineProps<{
    TabGroupWidth: string | number
}>(), {
    TabGroupWidth: 'w-72 sm:w-[768px]'
});
</script>

<template>
    <div :class="[props.TabGroupWidth ? props.TabGroupWidth : '']" class="h-96 rounded-md scrollbar-hide overflow-x-auto lg:h-[400px]">
        <slot />
    </div>
</template>