<script setup lang="ts">
import Navbar from './components/Navbar/Navbar.vue';
import { onMounted } from 'vue';
import AOS from "aos";
import 'aos/dist/aos.css';
onMounted(() => {
  AOS.init();
});
</script>

<template>
  <div class="w-full min-h-screen px-2 2xl:px-10 5xl:px-80">
    <Navbar />
    <router-view v-slot="{ Component }">
      <!-- `appear` fixes fade in, but not fade out -->
      <transition name="nicee" mode="out-in" appear>
        <component :is="Component" />
      </transition>
    </router-view>

  </div>
</template>

<style>
.nicee-enter-active {
  animation: opacityFromZero 0.4s ease-out;
}

.nicee-leave-active {
  animation: opacityFromZero 0.4s ease-out reverse;
}

@keyframes opacityFromZero {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

</style>
