<script setup lang='ts'>
import SafaricomLogo from "../../assets/logos/safaricom.png";
import StripeLogo from "../../assets/logos/stripe.png";
import PesapalLogo from "../../assets/logos/pesapal.png";
import WiseLogo from "../../assets/logos/wise.png";
import BankLogo from "../../assets/logos/bank.png";
import PaypalLogo from "../../assets/logos/paypal.png";
const logos = [
    {
        id: 1,
        logo: StripeLogo
    },
    {
        id: 2,
        logo: BankLogo
    },
    {
        id: 3,
        logo: SafaricomLogo
    },

    {
        id: 4,
        logo: PesapalLogo
    },

    {
        id: 5,
        logo: WiseLogo
    },

    {
        id: 6,
        logo: PaypalLogo
    }

]
</script>

<template>
    <div class="grid place-items-center w-full max-h-48 space-y-4 py-4 mt-6 md:py-6 md:max-h-64 md:mt-20 md:space-y-6 2xl:px-80">
        <div class="content w-72 pt-6 overflow-hidden relative md:pt-2 md:w-[800px]">
            <ul class="animated-content h-full flex" ref="mq">
                <li v-for="logo in logos" :key="logo.id"
                    class="flex justify-center items-center flex-shrink-0 text-white transform lg:scale-100">
                    <div class="flex justify-between w-3/4">
                        <div class="flex items-center space-x-2">
                            <img :src="logo.logo">
                        </div>
                    </div>
                </li>
                <li v-for="logo in logos" :key="logo.id"
                    class="flex justify-center items-center flex-shrink-0 text-white transform scale-75 lg:scale-100">
                    <div class="flex justify-between w-3/4">
                        <div class="flex items-center space-x-2">
                            <img :src="logo.logo">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>